@page
@model NovaScotiaWoodworks.Pages.Products.MantelsModel
@{
}

<div>
	<div class="container mt-4">
		<div class="row">
			<div class="col-7">
				<div>
					<h2>Available Mantels</h2>
					<hr/>
					<h4 class="text-center">Browse our selection of available mantels</h4>
					<p>
						Featured in the 2019 QEII DreamHome these mantels are highly requested <br/>
						Nova Scotia Woodworks offers high quality mantels made from barn beams <br/>

					</p>
				</div>

				<!-- Classic Mantel section -->
				<div class="row m-2 border-top">
					<h3 class-"text-center">Classic Mantel @Html.ValidationMessage("ClassicMantelPurchased")</h3>
					<div class="col-3 text-end">
						<p>
							Clear finish <br/><br/>
							Dimensions: 6x3x2 (LxWxH)<br/><br/>
							Cost: $200
						</p>
					</div>
					<div class="col-9">
						<div class="imgcontainer mb-3" display="flex" justify-content="center">
							<img class="imgMantel" src="/images/Mantel.jpg" alt="Mantel">
						</div>
					</div>
					
					<!-- Purchase pre-made mantel form -->
					<form method="post" asp-page="/Products/PurchaseMantel" asp-route-purchase="Classic Mantel">
						<div class="text-danger" asp-validation-summary="ModelOnly"></div>

						<div class="col-6 mb-3">
							<label asp-for="Order.Email"></label>
							<input asp-for="Order.Email" class="form-control"/>
							<span asp-validation-for="Order.Email" class="text-danger"></span>
						</div>
						<button type="submit" class="btn btn-primary" disabled="@(Model.DisbaleClassic ? "disabled" : null)">
							<i class="bi bi-wallet-fill"></i> Purchase
                        </button>
                    </form>
				</div>

				<!-- Modern Fireplace section -->
				<div class="row m-2 border-top">
					<h3 class-"text-center">Modern Fireplace Molding @Html.ValidationMessage("ModernMantelPurchased")</h3>
					<div class="col-3 text-end">
						<p>
							Clear finish <br/><br/>
							Dimensions: 6x3x2 (LxWxH)<br/><br/>
							Cost: $200
						</p>
					</div>
					<div class="col-9">
						<div class="imgcontainer mb-3" display="flex" justify-content="center">
							<img class="imgMantel" src="/images/ModernMantel.jpg" alt="Mantel">
						</div>
					</div>
					
					<!-- Purchase pre-made mantel form -->
					<form method="post" asp-page="/Products/PurchaseMantel" asp-route-purchase="Modern Mantel">
						<div class="text-danger" asp-validation-summary="ModelOnly"></div>

						<div class="col-6 mb-3">
							<label asp-for="Order.Email"></label>
							<input asp-for="Order.Email" class="form-control"/>
							<span asp-validation-for="Order.Email" class="text-danger"></span>
						</div>
						<button type="submit" class="btn btn-primary" disabled="@(Model.DisbaleModern ? "disabled" : null)">
							<i class="bi bi-wallet-fill"></i> Purchase
                        </button>
                    </form>
				</div>
			</div>

			<!-- Custom Design Order -->
			<div class="col-5 border" id="customOrder">
				<div>
					<h2>Custom Design</h2>
					<hr/>
					<h4 class="mb-2 text-center">Unable to find the perfect table?</h4>
					<p>
						There is a lot of effort that goes into aquiring the best piece of wood. <br/>
						We go to all areas of Nova Scotia looking for barns 
					</p>
				</div>
				<div class="mb-4 text-center">
					<!-- Purchase custom mantel form -->
					<form method="post">
						<div class="text-danger" asp-validation-summary="ModelOnly"></div>

						<!-- Email input -->
						<div class="form-outline mb-4 row">
							<div class="col-4 text-end">
								<label asp-for="Order.Email"></label>
							</div>
							<div class="col-5">
								<input class="form-control" type="text" asp-for="Order.Email" autofocus/>
								<span class="text-danger" asp-validation-for="Order.Email"></span>
							</div>
						</div>
						<!-- Color input -->
						<div class="form-outline mb-4 row">
							<div class="col-4 text-end">
								<label asp-for="Order.Finish"></label>
							</div>
							<div class="col-5">
								<input class="form-control" type="text" asp-for="Order.Finish"/>
								<span class="text-danger" asp-validation-for="Order.Finish"></span>
							</div>
						</div>
						<!-- Dimensions input -->
						<div class="form-outline mb-4 row">
							<div class="col-4 text-end">
								<label asp-for="Order.Length"></label>
							</div>
							<div class="col-5">
								<input class="form-control" type="text" asp-for="Order.Length"/>
								<span class="text-danger" asp-validation-for="Order.Length"></span>
							</div>
						</div>
						<div class="form-outline mb-4 row">
							<div class="col-4 text-end">
								<label asp-for="Order.Width"></label>
							</div>
							<div class="col-5">
								<input class="form-control" type="text" asp-for="Order.Width"/>
								<span class="text-danger" asp-validation-for="Order.Width"></span>
							</div>
						</div>
						<div class="form-outline mb-2 row">
							<div class="col-4 text-end">
								<label asp-for="Order.Height"></label>
							</div>
							<div class="col-5">
								<input class="form-control" type="text" asp-for="Order.Height"/>
								<span class="text-danger" asp-validation-for="Order.Height"></span>
							</div>
						</div>
						<label class="text-danger mb-1">
							@Html.ValidationMessage("OrderError")
						</label>
						<!-- Submit button -->
						<div display="flex" justify-content="center">
							<input type="submit" class="btn btn-primary" value="Submit"/>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>