@page
@model NovaScotiaWoodworks.Pages.Account.OrdersModel
@{
}
<div>
    <div class="m-4">
        <h1>All Orders List</h1>
    </div>

	@if(User.Identity.IsAuthenticated)
    {
        <table class="table table-bordered table-striped" style="width:%100">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Order Time
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                @foreach(var order in Model.OrderList)
                {
                    <tr>
                        <td>@order.Username</td>
                        <td>@order.Email</td>
                        <td>@order.Product</td>
                        <td>@order.Status</td>
                        <td>@order.OrderTime</td>
                        <td>
                            <form method="post" asp-page="/Account/CancelOrder" asp-route-id="@order.Id">
                                <button type="submit" class="btn btn-danger mx-2" >
                                    <i class="bi bi-x-circle"></i> Cancel
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No contacts to display</p>
    }
</div>